/* Prevent sidebar from having a scrollbar by default */
.bd-sidebar-primary .sidebar-primary-items__end {
    margin-top: 0em;
}

html {
    overflow-y: scroll;
}

.bd-article-container h1,
.bd-article-container h2 {
    font-weight: 300;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 1.5em;
    font-weight: 400 !important;
}

html[data-theme="light"] .highlight .c1 {
    color: #c83725;
}

html[data-theme="light"], html[data-theme="dark"] {
    --pst-color-primary: #c83725;
}

blockquote {
    border-left: .25em solid var(--pst-color-primary);
}

.navbar-brand:after {
    font-size: 13px;
    content: "Kevin Frans <kvfrans@berkeley.edu>";
}
.navbar-brand:hover {
    color: initial;
}